html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.App {
  height:100vh;
  width:100vw;
  text-align: center;
  background:red;
  background: linear-gradient(to bottom, rgba(7,42,78,1) 0%,
  rgba(10,48,85,1) 6%,
  rgba(19,66,106,1) 15%,
  rgba(35,94,137,1) 24%,
  rgba(60,127,166,1) 33%,
  rgba(80,146,178,1) 39%,
  rgba(100,163,184,1) 44%,
  rgba(128,180,182,1) 51%,
  rgba(151,192,177,1) 56%,
  rgba(178,201,166,1) 62%,
  rgba(194,202,155,1) 66%,
  rgba(213,199,137,1) 71%,
  rgba(228,189,118,1) 76%,
  rgba(238,168,92,1) 84%,
  rgba(240,150,75,1) 92%,
  rgba(236,126,57,1) 98%,rgba(235,120,53,1) 100%);
}


.wrapper {
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
  margin:0 auto;
  width:400px;
  height:600px;
  background: linear-gradient(to bottom, rgba(7,42,78,1) 0%,
  rgba(10,48,85,1) 6%,
  rgba(19,66,106,1) 15%,
  rgba(35,94,137,1) 24%,
  rgba(60,127,166,1) 33%,
  rgba(80,146,178,1) 39%,
  rgba(100,163,184,1) 44%,
  rgba(128,180,182,1) 51%,
  rgba(151,192,177,1) 56%,
  rgba(178,201,166,1) 62%,
  rgba(194,202,155,1) 66%,
  rgba(213,199,137,1) 71%,
  rgba(228,189,118,1) 76%,
  rgba(238,168,92,1) 84%,
  rgba(240,150,75,1) 92%,
  rgba(236,126,57,1) 98%,rgba(235,120,53,1) 100%);
  border-radius: 10px;
  box-shadow: 20px 20px 20px;
}

.form-wrapper {
  position: relative;
  top:100px;
  display:grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;

}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #fff inset !important;
}
.input-box {
  display: block;
  position: relative;
  margin-bottom: 20px;
}

input {
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: solid 2px gray;
  width: 300px;
  color: blue;
  -webkit-transition: all 0.6s ease-out 0s;
  transition: all 0.6s ease-out 0s;

}
input:focus,:active{
outline: none
  
}
input:focus {
border-bottom: solid 2px grey;
  
}

/* input {
 text-decoration: none;
 width:300px;
 border-radius:10px;
 padding:10px;
 border:1px solid rgb(46, 46, 46);
 background: transparent !important;
 box-shadow: 10px 10px 10px;
 
} */

.title {
  color:#fff;
  padding-top:60px;
  text-transform: uppercase;
  font-size: 1.5em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

button {
  border-radius: 10px;
  border:1px solid black;
  padding:10px;
  background: transparent;
  
  
}
button:hover {
  cursor: pointer;
  color:#fff;
  background:black;
  
}

.weather-results {
  margin:0 auto;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top:150px;
  font-size: 1.5em;
  padding: 10px;
  font-size: 1.25em;
  line-height: 30px;
}